@import url(http://fonts.googleapis.com/css?family=Raleway:100,200);
@font-face {
  font-family: 'Raleway' sans-serif;
  font-style: normal;
  font-weight: 400;
}
*,
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  outline: none;
  backface-visibility: hidden;
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible !important;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
textarea {
  -webkit-resize: none !important;
  -moz-resize: none !important;
  -ms-resize: none !important;
  -o-resize: none !important;
  resize: none !important;
}
a,
input[type='submit'],
button {
  cursor: pointer;
}
input[type='text'],
textarea {
  cursor: text;
}
::selection {
  background: #58d3e5;
  color: #ffffff;
}
::-moz-selection {
  background: #58d3e5;
  color: #ffffff;
}
::-o-selection {
  background: #58d3e5;
  color: #ffffff;
}
::-ms-selection {
  background: #58d3e5;
  color: #ffffff;
}
::-webkit-selection {
  background: #58d3e5;
  color: #ffffff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
body,
html {
  background: white;
  font-family: 'Raleway' sans-serif;
}
img {
  -webkit-touch-callout: none;
}
/* COLOR PALETTE*/
.section {
  height: 100%;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed !important;
}
.block {
  display: block;
}
.center {
  text-align: center;
}
.clearfix {
  clear: both;
}
.inlineblock {
  display: inline-block;
}
.left {
  float: left;
}
.right {
  float: right;
}
hr {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #414141;
  padding-bottom: 15px;
}
* {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: #4b4b4b;
}
h1 {
  font-size: 45px;
  font-weight: 600;
  text-transform: uppercase;
}
h2 {
  font-size: 30px;
  font-weight: 400;
}
h3 {
  font-size: 20px;
  font-weight: 300;
}
p {
  font-size: 14px;
  font-weight: 300;
}
.clearfix {
  clear: both;
}
.cta {
  padding: 16px 38px;
  background: #50c7cb;
  border-radius: 3px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  bottom: 40px;
  width: 220px;
  margin-left: -150px;
}
.cta:hover {
  background: #3fb6ba;
}
.transition {
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  -ms-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
.fasttransition {
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
.notransition {
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  -ms-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
}
#twitter {
  background: transparent url('img/twitter.png') center center no-repeat;
  background-size: contain;
}
#fb {
  background: transparent url('img/fb.png') center center no-repeat;
  background-size: contain;
}
#email {
  background: transparent url('img/email.png') center center no-repeat;
  background-size: contain;
}
#cal {
  background: transparent url('img/calendar.png') center center no-repeat;
  background-size: contain;
}
#twitter,
#fb,
#email,
#cal {
  padding: 15px;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  -ms-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
#twitter:hover,
#fb:hover,
#email:hover,
#cal:hover {
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  -ms-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
#twitter:hover {
  background: transparent url('img/twitter_blue.png') center center no-repeat;
  background-size: contain;
}
#fb:hover {
  background: transparent url('img/fb_blue.png') center center no-repeat;
  background-size: contain;
}
#email:hover {
  background: transparent url('img/email_blue.png') center center no-repeat;
  background-size: contain;
}
#cal:hover {
  background: transparent url('img/calendar_blue.png') center center no-repeat;
  background-size: contain;
}
.upcoming_event.wrapper {
  min-height: 130px;
}
body .main .social {
  display: block;
  padding: 30px 0px 70px 0px;
  text-align: center;
}
body .main .social li {
  display: inline-block;
  padding: 15px;
  width: 20px;
  height: 20px;
  margin: 0px 20px;
}
body .main .social li img {
  width: 30px;
  padding: 0 25px;
}
body .main .page {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}
body .main .page .page_title {
  padding: 60px 0px 30px 0px;
  font-weight: 200;
  font-size: 35px;
}
body .main .page .table_row {
  display: table-row;
}
body .main .page .wrapper {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding: 25px 0px;
}
body .main .page .wrapper .img_wrapper {
  width: 20%;
}
body .main .page .wrapper .img_wrapper img {
  width: 90%;
  border-radius: 50%;
}
body .main .page .wrapper .content_wrapper {
  text-align: left;
  width: 75%;
  margin: 0px 10px;
}
body .main .page .wrapper .content_wrapper a {
  color: #50c7cb;
  font-weight: 500;
}
body .main .page .wrapper .content_wrapper .content_title {
  font-weight: 600;
  padding: 15px 0px;
  color: #50c7cb;
}
body .main #page_one {
  background: transparent url('img/bg.jpg') center center no-repeat;
  background-size: cover;
  display: block;
}
body .main #page_one h3 {
  text-transform: uppercase;
  color: #358f8c;
  font-weight: 400;
  margin-top: -20px;
  display: inline-block;
  background: rgba(250, 250, 250, 0.25);
  padding: 20px 50px;
  border-radius: 2px;
}
body .main #page_one .logo {
  display: block;
  vertical-align: middle;
}
body .main #page_one .logo img {
  display: block;
  width: 500px;
  text-align: center;
  margin: 0 auto;
  padding: 30px;
  margin-top: 160px;
}
body .main #page_one #bg_layer {
  position: absolute;
  top: 0;
  opacity: 0.5;
  width: 100%;
}
body .main #page_one .navbar {
  display: block;
  text-align: center;
  position: absolute;
  margin: 0 auto;
  width: 600px;
  bottom: 30px;
  left: 50%;
  margin-left: -300px;
}
body .main #page_one .navbar #navbar_listing {
  display: block;
  padding: 0;
}
body .main #page_one .navbar #navbar_listing li {
  display: inline-block;
  padding: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  font-size: 16px;
}
body .main #page_two {
  display: table;
  padding: 0px 60px;
  margin: 0 auto;
  width: auto;
  text-align: center;
}
body .main #page_two .about {
  display: block;
  vertical-align: middle;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 0px 0px 30px 0px;
}
body .main #page_two .about li {
  display: inline-block;
  width: 25%;
  margin: 4%;
  vertical-align: text-top;
}
body .main #page_two .about li h2 {
  text-transform: uppercase;
  padding: 20px 0px 10px 0px;
  color: #50c7cb;
  font-weight: 500;
}
body .main #page_two .about li p {
  font-size: 12px;
}
body .main #page_three {
  background: #f2f2f2;
  text-align: center;
  position: relative;
}
body .main #page_four {
  display: block;
  text-align: center;
}
body .main #page_four .affiliation_logos {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 90px 50px 30px;
}
body .main #page_four .affiliation_logos li {
  display: inline-block;
  width: 250px;
  height: auto;
  border: 1px solid #dddddd;
  margin: 5px;
}
body .main #page_four .affiliation_logos li img {
  width: 100%;
}
body .main #page_five {
  position: relative;
  display: block;
  background: #f2f2f2;
  width: 100%;
}
body .main #page_five .page_title {
  padding: 30px 0px !important;
}
body .main #page_five .executives {
  width: auto;
  padding: 0px 10px;
  display: table-cell;
  vertical-align: middle;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
body .main #page_five .executives li {
  display: inline-block;
  width: 25%;
  margin: 20px;
}
body .main #page_five .executives li h2 {
  font-size: 22px;
  font-weight: 600;
  color: #50c7cb;
}
body .main #page_five .executives li .exec_photo {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}
body .main #page_five .executives li .exec_photo img {
  width: 100%;
}
body .main #page_five .executives li .exec_social {
  padding: 15px 0px;
}
body .main #page_five .executives li .exec_social #twitter,
body .main #page_five .executives li .exec_social #fb {
  background: #f2f2f2;
  display: inline-block;
  padding: 3px 10px;
  opacity: 0.4;
}
body .main #page_five .executives li .exec_social #twitter img,
body .main #page_five .executives li .exec_social #fb img {
  width: 23px;
  height: 23px;
  border-radius: 3px;
}
body .main #page_five .executives li h2 {
  text-transform: uppercase;
  padding: 20px 0px 10px 0px;
}
body .main #page_five .executives li p {
  font-size: 12px;
}
body .main #page_five footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100px;
  background: #4b4b4b url('img/footer_bg.png') center center no-repeat;
  background-size: cover;
}
body .main #page_five footer #footer_logo {
  float: left;
}
body .main #page_five footer #footer_logo img {
  display: block;
  width: 250px;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
}
body .main #page_five footer .social {
  float: right;
  padding: 0px;
}
body .main #page_five footer .social li {
  margin: 10px 20px;
}
body .main #page_five footer p {
  color: white;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 10px;
  clear: right;
  margin: 0px 20px;
  float: right;
}
@media (min-width: 1080px) {
  .cta {
    margin-left: 0px;
  }
}
@media (max-width: 1000px) {
  body .main .page .page_title {
    padding: 20px 0px;
  }
  body .main #page_two {
    padding: 0px !important;
  }
  body .main #page_two .about {
    padding: 0 !important;
    width: 100% !important;
  }
  body .main #page_two .about li {
    width: 24%;
  }
  body .main #page_two .about li img {
    width: 50%;
  }
  body .main #page_three .upcoming_event {
    padding: 0 !important;
    width: 100%;
  }
  body .main #page_three .upcoming_event .img_wrapper {
    width: 0;
    height: 0;
  }
  body .main #page_three .upcoming_event .content_wrapper {
    width: 90%;
    padding: 20px;
    float: none;
    margin: 0 auto;
  }
  body .main #page_three .upcoming_event .content_wrapper p {
    text-align: justify;
  }
  body .main #page_four .affiliation_logos {
    padding: 0px 30px;
  }
  body .main #page_four .affiliation_logos li {
    display: inline-block;
    width: 30%;
  }
  body .main #page_four .affiliation_logos li img {
    width: 100%;
  }
  body .main #page_five .executives li {
    margin: 0px;
    width: 30%;
  }
  body .main #page_five .executives li .exec_photo {
    width: 130px;
    height: 130px;
  }
  body .main #page_five footer {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 20px 0px 0px 0px;
  }
  body .main #page_five footer #footer_logo {
    float: none;
  }
  body .main #page_five footer .social {
    float: none;
    padding: 0px;
  }
  body .main #page_five footer .social li {
    margin: 10px 10px;
  }
  body .main #page_five footer p {
    margin: 0px 10px;
    float: none;
  }
}
@media (max-width: 600px) {
  body .main .social li {
    margin: 0px;
  }
  body .main .page .page_title {
    font-size: 25px;
  }
  body .main .page .wrapper .img_wrapper,
  body .main .page .wrapper .content_wrapper {
    float: none;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
  }
  body .main .page .wrapper .img_wrapper p,
  body .main .page .wrapper .content_wrapper p {
    text-align: justify;
  }
  body .main #page_one h3 {
    font-size: 13px;
  }
  body .main #page_one .logo img {
    width: 70%;
    text-align: center;
  }
  body .main #page_one #bg_layer {
    display: none !important;
  }
  body .main #page_one .navbar {
    left: auto;
    margin-left: 0;
    width: 100%;
    bottom: 50px;
  }
  body .main #page_one .navbar #navbar_listing {
    margin-bottom: 20px;
  }
  body .main #page_one .navbar #navbar_listing li {
    padding: 0px;
    margin: 0 20px;
  }
  body .main #page_two {
    padding: 0px 15px;
  }
  body .main #page_two .about {
    padding: 20px 0px 30px 0px;
  }
  body .main #page_two .about li {
    width: 90%;
    margin: 0 auto;
    display: block;
    margin-bottom: 40px;
  }
  body .main #page_two .about li img {
    width: 100px;
  }
  body .main #page_two .about li p {
    text-align: justify;
  }
  body .main #page_three {
    height: auto;
  }
  body .main #page_three .upcoming_event .content_wrapper #upcoming_events_clearfix {
    height: 100px;
  }
  body .main #page_four {
    height: auto;
    padding-bottom: 20px;
  }
  body .main #page_four .affiliation_logos {
    padding: 0px;
  }
  body .main #page_four .affiliation_logos li {
    width: 40%;
  }
  body .main #page_five {
    height: auto;
  }
  body .main #page_five .executives li {
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-bottom: 40px;
    border-bottom: 1px solid #dddddd;
  }
  body .main #page_five footer {
    position: relative;
    height: 220px;
    width: 100%;
    margin: 0;
    padding-top: 20px;
  }
  body .main #page_five footer #footer_logo {
    float: none;
  }
  body .main #page_five footer .social {
    float: none;
    padding: 0px;
  }
  body .main #page_five footer .social li {
    margin: 10px 10px;
  }
  body .main #page_five footer p {
    margin: 0px 10px;
    float: none;
  }
}
